nltk==3.9.1
langchain
langchain_community
pypdf
bs4
ipykernel
langchain_text_splitters
lxml
faiss-cpu
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
cassio
datasets
tiktoken
langchain-ollama
PyPDF2
streamlit
validators
youtube-transcript-api
pytube
unstructured
watchdog
svgling
# crew_ai tutorial
crewai
crewai_tools

langgraph
langsmith

pandasql
ollama


# ANN:
tensorflow
pandas
numpy
scikit-learn
tensorboard
matplotlib

arxiv
wikipedia